body {
  font-family: Arial, sans-serif;
  background-color: #1c2026;
  color: #fff;
  margin: 0;
  padding: 0;
}
h2 {
  text-align: center;
}

body,
html {
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.admin-navbar {
  background-color: #3e5d5e;
}
.admin-navbar h1 {
  background-color: #273a3b;
  padding: 0;
  margin: 0;
  text-align: center;
}

.admin-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.admin-navbar ul li {
  display: inline-block;
  margin: 0;
}

.admin-navbar ul li:last-child {
  float: right;
}

.admin-navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 10px 10px;
  display: inline-block;
}

.admin-navbar ul li:hover a {
  background-color: #4f7677;
  border-radius: 5px;
}

.admin-navbar ul li a:hover {
  text-decoration: underline;
}

/* Login Styles*/
.loginAdmin {
  background-color: #222831;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 100px auto;
  box-sizing: border-box;
  display: block;
  text-align: center;
}
.loginAdmin form {
  display: inline-block;
  text-align: left;
}

.loginAdmin input {
  background-color: #31363f;
  color: rgb(225, 225, 225);
  display: block;
  margin: 20px 0px;
  height: 30px;
  width: 30vw;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
}

.loginAdmin button {
  background-color: darkblue;
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: block;
  margin: 20px auto;
}

.loginAdmin button:hover {
  background-color: rgb(27, 27, 175);
  cursor: pointer;
}

.loginError {
  color: red;
}
/*Admin management styles*/
.admin-content .container {
  display: flex;
  justify-content: center;
}

.createAdmin,
.adminList {
  background-color: #222831;
  height: 70vh;
  width: 48%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  box-sizing: border-box;
  vertical-align: top;
  justify-content: center;
  text-align: center;
}

.createAdmin form {
  display: inline-block;
  text-align: left;
}
.admin-content input {
  background-color: #31363f;
  color: rgb(225, 225, 225);
  display: block;
  margin: 20px 0px;
  height: 30px;
  width: 30vw;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
}
.createAdmin button {
  background-color: darkblue;
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: block;
  margin: 0 auto;
}
.createAdmin button:hover {
  background-color: rgb(27, 27, 175);
  cursor: pointer;
}

.adminList {
  display: inline-block;
}
.adminList h4 {
  text-align: center;
}
.adminList ul {
  width: 80%;
  list-style-type: none;
  display: block;
  overflow: auto;
  max-height: 88%;
}
.adminList li {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: none;
}

.adminList button {
  background-color: #dc3545;
  color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.adminList button:hover {
  background-color: #c82333;
}

.adminList input[type="hidden"] {
  display: none;
}

/* Model management styles*/

.modelContainer ul {
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modelContainer li {
  background-color: #222831;
  width: 60%;
  border: solid 1px #ccc;
  display: flex;
  justify-content: space-between;
}

.modelContainer ul li div {
  padding: 20px;
  width: 40%;
}
.modelContainer button {
  background-color: darkblue;
  width: 70px;
  height: 35px;
  color: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: block;
}
.modelContainer button:hover {
  background-color: rgb(27, 27, 175);
  cursor: pointer;
}
.modelContainer .modelText {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #31363f;
  padding: 10px;
}
.modelContainer textarea {
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  background-color: #31363f;
  color: white;
}
.modelContainer select {
  margin: 15px 0;
  height: 25px;
  border: 1px solid #ccc;
  background-color: #31363f;
  color: white;
}

.conf_mat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

/*User reports management styles*/
