{% extends 'admin_dashboard.html' %} {% block content%}
<div class="model-content">
  <h2>Model Management</h2>
  <div class="modelContainer">
    <ul>
      <li>
        <div>
          <h4>MODEL STATUS</h4>
          <p>Here you can see the status of the model.</p>
        </div>

        <div>
          <p class="score">F1 Score: {{ f_one }}%</p>
          <p class="score">Accuracy: {{ accuracy}}%</p>
          <p class="score">Precision: {{ precision}}%</p>
          <p class="score">Recall: {{ recall}}%</p>
        </div>
      </li>
      <li>
        <div>
          <h4>Train Model</h4>
          <p>Here you can retrain your model.</p>
        </div>

        <div>
          <button onclick="retrain()">Retrain Model</button>
          <button onclick="revert()">Revert Model</button>
          <p class="modelText">
            Old Model accuracy: {{ old_acc }} <br />
            New model Accuracy: {{ accuracy }}
          </p>
        </div>
      </li>
      <li>
        <div>
          <h4>Add to Dataset</h4>
          <p>Here you can add to the dataset used to train the model</p>
        </div>
        <div>
          <form method="POST">
            {% csrf_token %}
            {{ form.text }}
            {{ form.labels }}
            <button>Add data</button>
          </form>
        </div>
      </li>
    </ul>

    <script>
      function retrain() {
        window.location.href = "http://localhost:8000/retrain"
      }

      function revert() {
        window.location.href = "http://localhost:8000/revert"
      }
    </script>
    {% endblock %}
  </div>
</div>
