{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/admin_styles.css' %}"
    />
  </head>
  <body>
    <div class="loginAdmin">
      <h2>Welcome to the Admin Portal</h2>
      <form action="{% url 'admin_login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input
          type="text"
          class="loginUname"
          name="username"
          placeholder="Username"
          required
        />
        <label for="password">Password:</label>
        <input
          type="password"
          class="loginPass"
          name="password"
          placeholder="Password"
          required
        />
        {% if error_message %}
        <p class="loginError">{{ error_message }}</p>
        {% endif %}

        <button type="submit" name="create_admin">Login</button>
      </form>
    </div>
  </body>
</html>
